.cm-text {
    color: var(--cui-color-text-0);
    font-size: var(--font-size-regular);
    line-height: 20px;
    mark {
        color: inherit;
        background-color: var(--cui-color-primary-light-default);
    }
    code {
        border: 1px solid var(--cui-default-border);
        border-radius: 2px;
        color: var(--cui-color-text-2);
        background-color: var(--cui-color-fill-1);
        padding: 2px 4px;
    }
    a {
        color: var(--cui-color-link);
        cursor: pointer;
        text-decoration: none;
        &:hover {
            color: var(--cui-color-link-hover);
        }
        &:active {
            text-decoration: none;
            color: var(--cui-color-link-active);
        }
        .cm-icon {
            margin-right: 3px;
        }
    }
}
.cm-typograghy-paragraph {
    margin: 0;
    color: var(--cui-color-text-0);
}
.cm-typograghy-paragraph-secondary,
.cm-text-secondary {
    color: var(--cui-color-text-1);
}
.cm-typograghy-paragraph-primary,
.cm-text-primary {
    color: var(--cui-primary-color);
}
.cm-typograghy-paragraph-warning,
.cm-text-warning {
    color: var(--cui-warning-color);
}
.cm-typograghy-paragraph-error,
.cm-text-error {
    color: var(--cui-error-color);
}
.cm-typograghy-paragraph-success,
.cm-text-success {
    color: var(--cui-success-color);
}
.cm-typograghy-paragraph-disabled,
.cm-text-disabled {
    color: var(--cui-color-disabled-text);
}
.cm-text-underline {
    text-decoration: underline;
    a:hover {
        span {
            text-decoration: underline;
        }
    }
}
.cm-text-link {
    text-decoration: none;
}
.cm-text-deleted {
    text-decoration: line-through;
}
.cm-text-strong {
    font-weight: 700;
}
.cm-typograghy-paragraph-small,
.cm-text-small {
    font-size: 12px;
}
.cm-typograghy-paragraph-normal,
.cm-text-normal {
    font-size: 14px;
}
.cm-typograghy-paragraph-large,
.cm-text-large {
    font-size: 16px;
}


.cm-typograghy-title {
    font-weight: 600;
    margin: 0;
    color: var(--cui-color-text-0);
}
.cm-typograghy-h1, 
h1.cm-typograghy-title{
    font-size: 32px;
    line-height: 44px;
}
.cm-typograghy-h2, 
h2.cm-typograghy-title{
    font-size: 28px;
    line-height: 40px;
}
.cm-typograghy-h3, 
h3.cm-typograghy-title{
    font-size: 24px;
    line-height: 32px;
}
.cm-typograghy-h4, 
h4.cm-typograghy-title{
    font-size: 20px;
    line-height: 28px;
}

.cm-typograghy-h5, 
h5.cm-typograghy-title{
    font-size: 18px;
    line-height: 24px;
}
.cm-typograghy-h6, 
h6.cm-typograghy-title{
    font-size: 16px;
    line-height: 22px;
}
.cm-typograghy-extended,
p.cm-typograghy-extended {
    line-height: 24px;
}

.cm-typograghy-copy {
    cursor: pointer;
    color: var(--cui-primary-color);
}
.cm-typograghy-copyed {
    color: var(--cui-success-color);
}