.cm-icons-row {
    .cm-col {
        padding-left: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        .cm-text {
            padding-left: 10px;
        }
    }
}